<%-include("./includes/head.ejs")%>
<%-include("./includes/header")%>
<%-include("./includes/navigation.ejs")%>
<body>
    <form action="" style="border:3px solid green;width: 100%;height: 60%;">
        helllnosk;dlnsa
    </form> 
</body>
</html>