<%- include('includes/start.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>
  <h2 class="center">OOps Sorry for the discomfort ..</h2>
  <p class="center">We are working on it and reach you soon</p>
  <%- include('includes/end.ejs') %>
