<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
             <li class="main-header__item"><a class="<%= activeLink === 'main' ? 'active' :' ' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= activeLink === 'add-movie' ? 'active' :' ' %>" href="/admin/add-movie">Add movie</a></li>
        </ul>
    </nav>
</header>       